.table.is-narrow td {
    padding: .5em 1.5em;
}

.columns {
    height:auto;
}

.config-form {
    padding: 1.5rem;
}

.icon-help {
    height: 3rem;
    width:  4rem;
}

.box {
    box-shadow: 15px 40px 60px 0 rgba(0,0,0,.16)
}

body {
    background:#5dc1e9;
    height:auto;
}

nav.navbar {
    border-top:4px solid #1b95c5;
}

body {
  border-top: 4px solid #1b95c5;
}
