body {
	background: #5dc1e9;
	border-top: 4px solid #1b95c5;
}

.table.is-narrow td {
	padding: 0.5em 0.8em;
}

.columns {
	height: auto;
}

.config-form {
	padding: 1.5rem;
}

.icon-help {
	height: 3rem;
	width: 4rem;
}

.box {
	box-shadow: 15px 40px 60px 0 rgba(0, 0, 0, 0.16);
}

nav.navbar {
	border-top: 4px solid #1b95c5;
}

#app {
	padding-bottom: 2em;
}

.is-link {
	cursor: pointer;
}

.dropdown-menu {
	min-width: 11rem;
}

/* Tile with icon */

.tile .icon {
	font-size: 1.4rem;
	line-height: 1.2;
}

/* Tile bar title */

.tilebar-title {
	font-size: 1.25rem;
	color: hsl(192, 17%, 99%);
}
